@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/utility-pattern.css';

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.marker2 {
  border:1px solid #3498db;
  border: 1px solid blue;
  color: white;

  background: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 width: 20px;
 height: 20px;
  border-radius: 50%;
}

.marker1 {
  background-color: #4caf50;
  border: 1px solid blue;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 width: 20px;
 height: 20px;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* For Webkit (Safari, Chrome, etc.) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3498db;
  border-left-color: #3498db;
  animation: spin 1s linear infinite;
}

.popup-content {
  width: auto !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.rmsc .dropdown-heading {
  height: auto !important;
  padding: 0.35rem 0.5rem !important;
  max-width: 11.5rem !important;
  overflow-x: auto;
}

.rmsc .dropdown-container {
  border: 1px solid #3498db4a !important;
}

.hero-card-1 {
  background: linear-gradient(to bottom right, #2980b9, #1abc9c);
 
}
.hero-card-2 {
  background: linear-gradient(to bottom, #0074d9, #4ea8de, #8acae7, #c4efff);
}
.hero-card-3 {
  background: linear-gradient(to bottom, #3498db, #9b59b6);
}
.hero-card-4 {
  background: linear-gradient(to bottom, #1abc9c, #3498db);
}


@keyframes clipAnimation {
  0%{ 
    clip-path: inset(0% 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}