@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/utility-pattern.css';

.sidebarStyle {
  display: inline-block;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapboxgl-popup {
  pointer-events: none
}

.marker2 {
  border:1px solid #fff;
  border: 1px solid blue;
  color: white;
  background: #3498db;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 width: 20px;
 height: 20px;
  border-radius: 50%;
}


.spidered-marker .icon-div{
  position: relative;
  width: 25px;
  height: 41px;
  margin-left: -11.5px;
  margin-top: -38.5px;
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/images/marker-icon.png);
}
.marker1 {
  background-color: #f28cb1;
  /* border: 1px solid blue;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
  font-size: 16px;
 width: 20px;
 height: 20px;
  border-radius: 50%;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* For Webkit (Safari, Chrome, etc.) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3498db;
  border-left-color: #3498db;
  animation: spin 1s linear infinite;
}

.popup-content {
  width: auto !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.rmsc .dropdown-heading {
  height: auto !important;
  padding: 0.35rem 0.5rem !important;
  max-width: 11.5rem !important;
  overflow-x: auto;
}

.rmsc .dropdown-container {
  border: 1px solid #3498db4a !important;
}

.hero-card-1 {
  background: linear-gradient(to bottom right, #2980b9, #1abc9c);
 
}
.hero-card-2 {
  background: linear-gradient(to bottom, #0074d9, #4ea8de, #8acae7, #c4efff);
}
.hero-card-3 {
  background: linear-gradient(to bottom, #3498db, #9b59b6);
}
.hero-card-4 {
  background: linear-gradient(to bottom, #1abc9c, #3498db);
}

.hero-card-5 {
  background: linear-gradient(to bottom, #9b59b6, #1abc9c);
}

@keyframes clipAnimation {
  0%{ 
    clip-path: inset(0% 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.spider-leg-container {
  width: 1px;
  height: 1px;
  background:red;
  overflow: display;
  will-change: transform;
}

.spider-leg-container:hover { cursor: pointer }

.spider-leg-container .spider-leg-pin {
  position: relative;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.spider-leg-container .spider-leg-pin.default-spider-pin{
  position: relative;
  width: 25px;
  height: 41px;
  margin-left: -11.5px;
  margin-top: -38.5px;
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/images/marker-icon.png);
}

.spider-leg-container .spider-leg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #343434;
  opacity: 0.45;
  transform-origin: bottom;
  z-index: 0;
  height: 0;
}

.spider-leg-container:hover .spider-leg-line { opacity: 1 }

/* Animations specific styles */

.spider-leg-container.animate {
  -webkit-transition: margin 0.15s linear;
  -moz-transition: margin 0.15s linear;
  -ms-transition: margin 0.15s linear;
  -o-transition: margin 0.15s linear;
  transition: margin 0.15s linear;
}

.spider-leg-container.initial,
.spider-leg-container.exit {
  margin-left: 0 !important;
  margin-top: 0 !important;
  height: 0;
}

.spider-leg-container.animate .spider-leg-line {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;

  -webkit-transition-delay: inherit;
  -moz-transition-delay: inherit;
  -ms-transition-delay: inherit;
  -o-transition-delay: inherit;
  transition-delay: inherit;
}

.spider-leg-container.animate.initial .spider-leg-line,
.spider-leg-container.animate.exit .spider-leg-line { height: 0 !important }

.rmsc .dropdown-heading {
  max-width: unset !important;
}

.dropdown-content {
  z-index:1000 !important;
}
.mapboxgl-popup {
  pointer-events: none !important;
}
.mapboxgl-popup-content {
  pointer-events: none !important;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


video {
  object-fit:cover;
}


.card:hover > .card-box > .card-item {
  opacity: 1;
  transition: all 500ms ease-in-out;
}